<nav class="navbar navbar-inverse bg-inverse navbar navbar-toggleable-md">

  <a class="navbar-brand" routerLink="/all-bookmarks">Bookmark Site</a>

  <ul class="navbar-nav mr-auto mt-2 mt-md-0">

    <li  class="nav-item">
      <a class="nav-link" routerLink="/all-bookmarks">Main</a>
    </li>
    <li  class="nav-item">
      <a class="nav-link" href="https://github.com/artpoddybnyy/angular2-springboot-starter">My GitHub</a>
    </li>
  </ul>

  <form class="form-inline my-2 my-lg-0" (ngSubmit) = "searchForm.reset()" #searchForm = "ngForm" >
    <input class="form-control mr-sm-2" type="text" name="title" required [(ngModel)]="title" placeholder="Search" >
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
            [disabled]="!searchForm.form.valid" [routerLink]="['/all-bookmarks', title]">Search</button>
  </form>



</nav>

<div class="container-fluid">

    <router-outlet></router-outlet>

    <router-outlet name="popup"></router-outlet>

  <template ngbModalContainer></template>
</div>

