<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>main page</title>
</head>
<body>
    <create-bookmark></create-bookmark>

    <div class="container">
      <div class="col-xs-4">
        <button type="button" class="btn btn-danger btn-sm" href="/app/delete-bookmarks"
                (click)="deleteBookMarks()"><i class="glyphicon glyphicon-trash"></i>
        </button>
      </div>
    </div>

    <div class="container">

      <div class="row" *ngFor="let bookmark of bookMarks">
        <div class="col-sm-1 checkbox checkbox-success">
          <input type="checkbox" (change)="selected(bookmark.id)"/>
        </div>
        <div class="col-md-7">
          <a href={{bookmark.link}}>{{bookmark.title}}</a>
        </div>
        <div class="col-md-2">
          {{bookmark.dateCreation | date}}
        </div>
        <div class="col-sm-1">
          <button type="submit"
                  [routerLink]="['/', { outlets: { popup: 'one-bookmark/'+ bookmark.id} }]"
                  replaceUrl="true"
                  class="btn btn-primary btn-sm" data-toggle="modal">
            <!--<span class="fa fa-pencil"></span>-->
            <span class="hidden-md-down" jhiTranslate="entity.action.edit"><i class="glyphicon glyphicon-edit"></i></span>
          </button>
        </div>
        <div class="col-sm-1">
          <button type="button" class="btn btn-danger btn-sm" href="/app/delete-bookmarks"
                  (click)="deleteBookMarks(selected(bookmark.id))"><i class="glyphicon glyphicon-trash"></i>
          </button>
        </div>
        <!--<span class="help-block">This is some help text...</span>-->
      </div>
   </div>

</body>
</html>
